<template>
  <div :class="$style.list">
    <figure :class="$style.list__image">
      <slot name="image" />
    </figure>

    <slot name="detail" />

    <div :class="$style.list__description">
      <slot name="description" />
    </div>
    <p :class="$style.list__last"><slot name="last"/></p>
  </div>
</template>

<style lang="scss" module>
@import '@design';

.list {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__image {
    margin: 0 $spacing-3 0 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 20rem;
    margin: 0 auto 0 $spacing-4;
    font-size: $spacing-3;
  }

  &__last {
    position: absolute;
    top: 0;
    right: 7.5%;
    margin: 0;
    color: $color-heading-text;
  }

  @include md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__image {
      margin: 0 $spacing-5 0 0;
    }

    &__description {
      margin: 0 auto 0 $spacing-6;
    }

    &__last {
      position: static;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }
}
</style>
