<template>
  <article class="listing"><slot /></article>
</template>

<style lang="scss">
@import '@design';
.listing {
  display: grid;
  list-style: none;

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-gap: $size-grid-padding;
    width: 100%;
    margin: $spacing-24 auto;
  }
  &--item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border: 1px solid #ffe066;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: 0.33s ease-out;
    &:not(:last-child) {
      margin-bottom: $spacing-10;
    }

    &:first-child {
      margin-top: $spacing-12;

      @include md {
        margin-top: unset;
      }
    }
    &:hover {
      z-index: 0;
      transform: translateY(-3px);
    }

    &:focus,
    &:active {
      z-index: 0;
      color: white;
      background: white;
      transform: translateY(-1px);
    }

    &--image-container {
      position: relative;
      height: 20rem;
      border-bottom: 1px solid #ffe066;

      &--image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-4 $spacing-2;
      border-bottom: solid $color-text 1px;
      &--text {
        margin: 0;
        color: $color-text;
      }
      &--description {
        margin: $spacing-3 $spacing-2;
        color: $color-heading-text;
        text-align: justify;
      }
    }
  }
}
</style>
