<script>
import NavBar from '@components/nav-bar'

export default {
  components: { NavBar },
}
</script>

<template>
  <div :class="$style.container">
    <NavBar />
    <slot />
    <portal-target name="modals"></portal-target>
  </div>
</template>

<style lang="scss" module>
@import '@design';

.container {
  min-width: $size-content-width-min;
  max-width: $size-content-width-max;
  min-height: 100vh;
  margin: 0 auto;

  @include lg {
    margin: $spacing-24 auto 0 auto;
  }
}
</style>
