<script>
export default {
  props: {
    index: { type: Number, default: 0 },
    item: { type: Object, default: () => ({}) },
    pageOffset: { type: Object, default: () => ({ top: 0, left: 0 }) },
    baseOffset: { type: Object, default: () => ({ top: 30, left: 1000 }) },
    show: { type: Boolean, default: false },
    shownItems: { type: Array, default: () => [] },
  },
  computed: {
    positionStyleObject() {
      const { show, item, baseOffset, pageOffset, index } = this
      return {
        position: 'fixed',
        top: !show ? `${item.offset.top - pageOffset.top}px` : `${baseOffset.top}px`,
        left: !show
          ? `${item.offset.left - pageOffset.left}px`
          : `${baseOffset.left - 50 * index - 50}px`,
        zIndex: !show ? '-1' : '1',
      }
    },

    animatedStyleProperties() {
      const { show } = this
      return {
        width: !show ? '386px' : '2.5rem',
        height: !show ? '320px' : '2.5rem',
        borderRadius: !show ? '0' : '10rem',
        opacity: !show ? '0' : '1',
      }
    },
  },
}
</script>

<template>
  <div v-if="item.offset" :style="positionStyleObject">
    <img
      class="animatedImage"
      :src="item.image.thumb"
      :alt="item.name"
      :title="item.name"
      :style="{
        ...positionStyleObject,
        ...animatedStyleProperties,
      }"
    />
    <transition name="slide-fade" mode="out-in">
      <p
        :key="item.cart ? item.cart.amount : 0"
        class="transition"
        style=" z-index: 5;color:red; background: white;"
        :style="{
          position: 'fixed',
          top: `${baseOffset.top + 4}px`,
          left: `${baseOffset.left - 50 * index + 20 - 50}px`,
          opacity: !show ? '0' : '1',
          width: '1.5rem',
          height: '1.5rem',
          display: 'flex',
          justifyContent: 'center',
          alignItems: 'center',
          borderRadius: '5rem',
          lineHeight: 1,
          color: 'white',
          background: '#f08c00',
        }"
        >{{ item.cart ? item.cart.amount : 0 }}</p
      >
    </transition>
  </div>
</template>

<style lang="scss">
.transition {
  transition: opactiy 5s ease-out;
}

.animatedImage {
  width: 2.5rem;
  height: 2.5rem;
  transition: 1s cubic-bezier(0.3, 0.42, 0.23, 0.99);
  transition-property: top, left, width, height, opacity; // top and left are not performant properties :(
}
// stylelint-disable selector-class-pattern
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.66s cubic-bezier(0.34, 0.21, 0, 0.97);
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: scale(1.6);
}
// stylelint-enable
</style>
