<script>
export default {
  data() {
    return {
      elWidth: 0,
      elHeight: 0,
      cursorX: 0,
      cursorY: 0,
      elCenterX: 0,
      elCenterY: 0,
    }
  },

  computed: {
    animationStyle() {
      let y = this.elCenterY - this.cursorY
      let x = this.elCenterX - this.cursorX

      let theta = Math.atan2(y, x)
      let angle = (theta * 180) / Math.PI - 90
      if (angle < 0) {
        angle = angle + 360
      }

      return {
        boxShadow: `${x * 0.2}px ${y * 0.3}px 1rem rgba(0,0,0,0.25)`,
        transform: `translateX(${-x * 0.05}px) rotateX(${-y * 0.1}deg) rotateY(${x * 0.1}deg)`,
      }
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.elWidth = this.$el.offsetWidth
      this.elHeight = this.$el.offsetHeight
      this.$el.addEventListener('mousemove', (e) => this.animate(e))
    },
    animate(e) {
      let cord = e.target.getBoundingClientRect()
      this.cursorX = e.x
      this.cursorY = e.y
      this.elCenterX = cord.left + cord.width / 2
      this.elCenterY = cord.top + cord.height / 2
    },
  },
}
</script>

<template>
  <button v-bind="$attrs" class="button" :style="animationStyle" v-on="$listeners"><slot /></button>
</template>

<style lang="scss" scoped>
@import '@design';

.button {
  display: inline-block;
  font-size: $spacing-5;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
</style>
