<template>
  <ModalDialog :show="show" @close="dismiss">
    <figure v-if="cart.items.length === 0" :class="$style.items__empty">
      <EmptyCart :class="$style.items__empty__icon" />
      <figcaption :class="$style.items__empty__caption"
        >You don't have any items in your cart yet.</figcaption
      >
      <Button :class="$style.checkout__button" @click="dismiss">{{
        cart.items.length === 0 ? 'Start shopping' : 'Checkout'
      }}</Button>
    </figure>

    <div v-else>
      <h2 :class="$style.items__heading">
        Cart
      </h2>
      <CartListItem v-for="item of cart.items" :key="item.id" :item="item" />
      <CartDelivery :total-cost="cart.totalCost" />

      <div :class="$style.total">
        <h4 :class="$style.total__heading">Total:</h4>
        <p>{{ numberFormat.format(totalCostWithDeliveryCost) }}</p>
      </div>
      <div :style="buttonPositionStyle">
        <Button :class="$style.checkout__button" @click="checkOut"> Checkout</Button>
      </div>
    </div>
  </ModalDialog>
</template>

<script>
import ModalDialog from '@components/ModalDialog.vue'
import CartListItem from '@components/CartListItem.vue'
import CartDelivery from '@components/CartDelivery.vue'
import Button from '@components/ButtonAppleTv'
import NumberFormat from '@components/mixins/NumberFormat.js'
import EmptyCart from '@components/icons/EmptyCart'

export default {
  components: { ModalDialog, CartListItem, CartDelivery, Button, EmptyCart },
  mixins: [NumberFormat],
  props: {
    show: { type: Boolean, default: false },
    cart: { type: Object, default: () => ({ items: [] }) },
  },
  computed: {
    totalCostWithDeliveryCost() {
      const { totalCost } = this.cart
      return totalCost < 49 ? totalCost + 4.9 : totalCost
    },

    buttonPositionStyle() {
      return { textAlign: this.cart.items.length > 0 ? 'right' : 'center' }
    },
  },
  methods: {
    dismiss() {
      this.$emit('close')
    },

    checkOut() {
      console.table(this.cart) // eslint-disable-line
    },
  },
}
</script>

<style lang="scss" module>
@import '@design';

.items {
  &__heading {
    margin-top: 0;
  }

  &__empty {
    padding: $spacing-2 $spacing-32 $spacing-0 $spacing-32;
    text-align: center;
    &__icon {
      width: 100%;
      height: 100%;
      margin-bottom: $spacing-4;
    }

    &__caption {
      margin: $spacing-4 0;
    }
  }
}

.total {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__heading {
    margin: 0;
    color: $color-heading-text;
  }
}

.checkout {
  text-align: right;

  &__button {
    padding: $spacing-2 $spacing-3;
    margin-top: $spacing-4;
    color: white;
    background: $color-text;
    border-radius: 4px;
  }
}
</style>
