<script>
import ListVertical from '@layouts/ListVertical'
import { mapState } from 'vuex'
import ListItemMixin from '@components/mixins/ListItemMixin.js'
import NumberFormat from '@components/mixins/NumberFormat.js'
export default {
  components: { ListVertical },
  mixins: [ListItemMixin, NumberFormat],
  computed: {
    ...mapState('store', {
      items: (state) => state.items,
    }),
  },
  methods: {
    getIndexOfItem(chosenItem) {
      return this.items.findIndex((item) => item.id === chosenItem.id)
    },
  },
}
</script>

<template>
  <ListVertical :class="$style.cart">
    <template v-slot:image>
      <img :class="$style.cart__image" :src="item.image.thumb" :alt="item.name" />
    </template>
    <template v-slot:detail>
      <SliderInput
        :class="$style.cart__slider"
        :amount="item.cart.amount"
        :max-amount="item.stock"
        @adjust="updateCart([item, getIndexOfItem(item), $event])"
      />
    </template>
    <template v-slot:description>
      <h3 :class="$style.cart__name">{{ item.name }}</h3>
      <p :class="$style.cart__description">{{ item.description }}</p>
    </template>

    <template v-slot:last
      >{{ numberFormat.format(item.cart.totalCost) }}
    </template>
  </ListVertical>
</template>

<style lang="scss" module>
@import '@design';

.cart {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  height: $spacing-20;
  margin-bottom: $spacing-16;
  text-align: center;

  @include md {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-align: left;
  }
  &__slider {
    align-self: flex-end;
    margin-bottom: $spacing-2;

    @include md {
      align-self: unset;
      margin-bottom: unset;
    }
  }

  &__image {
    align-self: center;
    width: $spacing-32;
    height: $spacing-16;
    object-fit: cover;

    @include md {
      width: $spacing-12;
      height: $spacing-12;
      border-radius: 100%;
    }
  }

  &__name {
    margin: 0;
    font-size: $spacing-5;
    line-height: 1.25;
  }

  &__description {
    margin: 0;
    overflow: hidden;
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      overflow: visible;
      white-space: normal;
    }
  }
}
</style>
