<script>
import ListVertical from '@layouts/ListVertical'
import { faTruck, faCheckCircle } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import ListItemMixin from '@components/mixins/ListItemMixin.js'
import NumberFormat from '@components/mixins/NumberFormat.js'
export default {
  components: { FontAwesomeIcon, ListVertical },
  mixins: [ListItemMixin, NumberFormat],
  deliveryOptions: {
    freeAbove: 50,
    cost: 4.9,
    paidNotificationText: 'You are qualified for Free Standard Delivery!',
  },
  props: {
    totalCost: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    deliveryIcon() {
      return faTruck
    },
    checkIcon() {
      return faCheckCircle
    },

    percentToFreeDelivery() {
      return this.totalCost / this.$options.deliveryOptions.freeAbove
    },

    isFreeDelivery() {
      return this.percentToFreeDelivery >= 0.98
    },

    deliveryNotificationText() {
      return this.percentToFreeDelivery < 0.98
        ? `Spend another ${this.numberFormat.format(
            Math.round(Math.abs(this.totalCost - this.$options.deliveryOptions.freeAbove))
          )} for free standard delivery.`
        : this.$options.deliveryOptions.paidNotificationText
    },
  },
}
</script>

<template>
  <ListVertical :class="$style.delivery">
    <template v-slot:image>
      <div :class="$style.delivery__icon">
        <FontAwesomeIcon :icon="deliveryIcon"></FontAwesomeIcon>
      </div>
    </template>

    <template v-slot:description>
      <h3 :class="$style.delivery__heading"
        >Delivery
        <FontAwesomeIcon
          v-if="isFreeDelivery"
          :class="$style.delivery__heading__icon"
          :icon="checkIcon"
        ></FontAwesomeIcon>
      </h3>
      <p :class="$style.delivery__description">{{ deliveryNotificationText }}</p>
      <progress id="file" max="100" :value="percentToFreeDelivery * 100 + 4"
        >{{ percentToFreeDelivery }}%</progress
      >
    </template>

    <template v-slot:last
      ><var :class="$style.delivery__last">{{
        numberFormat.format(isFreeDelivery ? 0 : $options.deliveryOptions.cost)
      }}</var>
    </template>
  </ListVertical>
</template>

<style lang="scss" module>
@import '@design';

.delivery {
  align-items: flex-start;
  padding: $spacing-5 $spacing-2;
  margin: $spacing-3 0;
  border-top: dashed $color-text 1px;
  border-bottom: solid $color-text 1px;

  &__icon {
    width: $spacing-8;
    height: $spacing-8;
    color: white;
    background: $color-text;
    border-radius: 100%;

    @include flex-center;
  }

  &__heading {
    margin: 0;
    font-size: $spacing-5;
    line-height: 1.25;

    &__icon {
      margin-left: $spacing-1;
      color: $color-text;
    }
  }

  &__description {
    width: 50%;
    margin: $spacing-3 0 0 0;
    font-size: 0.75rem;
    text-align: justify;
  }

  &__last {
    display: block;
    margin-top: 1.5rem;
  }
}
</style>
