<script>
import ListItemMixin from '@components/mixins/ListItemMixin.js'
import DebounceEventListener from '@components/util/debounceEventListener'
import { mapMutations } from 'vuex'
export default {
  components: { DebounceEventListener },
  mixins: [ListItemMixin],
  props: {
    index: { type: Number, default: 0 },
  },

  data() {
    return {
      offset: {},
    }
  },

  computed: {
    amount: {
      get() {
        const { cart = {} } = this.$store.state.store.items[this.index]
        return (cart && cart.amount) || 0
      },
      set(newAmount) {
        const item = { ...this.item, offset: this.offset }
        this.updateCart([item, this.index, newAmount])
      },
    },
  },

  methods: {
    ...mapMutations({
      setOffset: 'store/SET_OFFSET',
    }),

    updateOffset() {
      this.offset = { top: this.$el.offsetTop, left: this.$el.offsetLeft }
      const { offset, index } = this
      this.setOffset({ index, offset })
    },
  },
}
</script>

<template>
  <DebounceEventListener :handler="updateOffset">
    <div class="listing--item">
      <header class="listing--item--image-container">
        <img
          class="listing--item--image-container--image"
          :src="item.image.orig"
          :alt="item.name"
        />
      </header>
      <div class="listing--item--details"
        ><p class="listing--item--details--text">{{ item.name }}</p
        ><SliderInput v-model="amount" :max-amount="item.stock"
      /></div>
      <p class="listing--item--details--description">{{ item.description }}</p>
    </div>
  </DebounceEventListener>
</template>
