<script>
import { cartGetter } from '@state/helpers'
import AnimatedImage from '@components/AnimatedImage'
import { faShoppingCart } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import CartModal from '@components/CartModal'
import DebounceEventListener from '@components/util/debounceEventListener'
import Logo from '@components/icons/Logo'

export default {
  components: { AnimatedImage, FontAwesomeIcon, CartModal, DebounceEventListener, Logo },
  data() {
    return {
      pageOffset: { top: 0, left: 0 },
      baseOffset: { top: 0, left: 0 },
      shownItems: [],
      showCart: false,
    }
  },
  computed: {
    ...cartGetter,

    shoppingCart() {
      return faShoppingCart
    },
  },

  watch: {
    'cart.items': {
      handler: function(items, oldItems) {
        if (!items && !oldItems) return
        const firstLoad = !oldItems
        if (firstLoad) {
          this.shownItems = this.getDifferenceOfArrays(items, this.shownItems)
          return
        }
        if (items.length === oldItems.length) return

        const difference = this.getDifferenceOfArrays(items, oldItems)
        if (items.length > oldItems.length) {
          this.shownItems.push(difference[0])
        } else {
          this.$delete(
            this.shownItems,
            this.shownItems.findIndex((shownItem) => shownItem.id === difference[0].id)
          )
        }
      },
      immediate: true,
    },
  },

  methods: {
    updateOffset() {
      if (this.$refs.base) {
        this.baseOffset = { top: this.$refs.base.offsetTop, left: this.$refs.base.offsetLeft }
      } else console.warn('ref base is not rendered')
    },

    onScrollUpdatePageOffset() {
      this.pageOffset = { top: window.pageYOffset, left: window.pageXOffset }
    },

    getDifferenceOfArrays(array1, array2) {
      return array1
        .filter((x) => !array2.includes(x))
        .concat(array2.filter((x) => !array1.includes(x)))
    },
  },
}
</script>

<template>
  <DebounceEventListener :handler="updateOffset">
    <DebounceEventListener event="scroll" :handler="onScrollUpdatePageOffset">
      <ul class="wrapper">
        <figure class="container">
          <Logo class="logo" />
          <div ref="base" class="flex">
            <CartModal :show="showCart" :cart="cart" @close="showCart = false" />
            <div class="iconWrapper">
              <FontAwesomeIcon
                style="font-size: 1.5rem;;"
                :icon="shoppingCart"
                @click="showCart = true"
              ></FontAwesomeIcon>
            </div>
            <AnimatedImage
              v-for="item of items"
              :key="item.id"
              :show="!!cart.items.find((cartItem) => cartItem.id === item.id)"
              :item="item"
              :index="shownItems.findIndex((shownItem) => shownItem.id === item.id)"
              :page-offset="pageOffset"
              :base-offset="baseOffset"
            />
          </div>
        </figure>
      </ul>
    </DebounceEventListener>
  </DebounceEventListener>
</template>

<style lang="scss">
@import '@design';
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  padding: 0 $spacing-4;
  padding: 0 $spacing-12;
  margin: 0;
  list-style-type: none;
  background: #4484ce;
  border-radius: 4px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
  .logo {
    width: 3rem;
    height: 3rem;
  }

  li {
    display: inline-block;
    margin-right: $size-grid-padding;
  }

  .iconWrapper {
    padding: $spacing-2;
    background: white;
    border-radius: 100%;

    @include flex-center;
  }
}
</style>
