<script>
import { faPlus, faMinus } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
export default {
  name: 'SliderInput',
  components: {
    FontAwesomeIcon,
  },
  model: {
    prop: 'amount',
    event: 'adjust',
  },

  props: {
    amount: {
      type: [Number, String],
      default: 0,
    },
    maxAmount: {
      type: [Number, String],
      default: 0,
    },
  },

  data() {
    return {
      timer: null,
      isMouseDown: false,
    }
  },

  computed: {
    plus() {
      return faPlus
    },
    minus() {
      return faMinus
    },
  },
  methods: {
    adjustValue(value) {
      this.$emit('adjust', value)
    },

    increaseValue() {
      this.adjustValue(this.amount + 1)
    },

    subtractValue() {
      this.adjustValue(this.amount - 1)
    },

    clearTimer() {
      this.isMouseDown = false
      if (this.timer) {
        clearInterval(this.timer)
        this.timer = null
      }
    },

    whileMouseDown(callback) {
      this.isMouseDown = true
      setTimeout(() => {
        if (this.timer === null && this.isMouseDown) {
          this.timer = setInterval(() => {
            callback()
          }, 100)
        }
      }, 250)
    },

    handleInput({ target: { value } }) {
      value = Number(value)
      if (!value) this.adjustValue(0)
      if (value > this.maxAmount) return this.adjustValue(this.maxAmount)
      this.adjustValue(value)
    },

    validateInput(evt) {
      evt = evt || window.event
      let key = evt.keyCode || evt.which
      key = String.fromCharCode(key)
      const regex = /[0-9]/
      if (!regex.test(key)) {
        evt.returnValue = false
        if (evt.preventDefault) evt.preventDefault()
      }
    },
  },
}
</script>

<template>
  <label :class="$style.slider">
    <button
      :class="$style.slider__button_left"
      @mousedown="whileMouseDown(subtractValue)"
      @mouseup="clearTimer"
      @click="subtractValue"
      ><FontAwesomeIcon :icon="minus"
    /></button>
    <input
      :value="amount"
      v-bind="$attrs"
      :class="$style.slider__input"
      v-on="{ ...$listeners, input: handleInput }"
      @keypress="validateInput"
    />
    <button
      :class="$style.slider__button_right"
      @mousedown="whileMouseDown(increaseValue)"
      @mouseup="clearTimer"
      @click="increaseValue"
      ><FontAwesomeIcon :icon="plus"
    /></button>
  </label>
</template>

<style lang="scss" module>
@import '@design';
.slider {
  display: flex;
  max-width: 6rem;

  &__input {
    max-width: $spacing-8;
    text-align: center;
  }

  &__button {
    &_left {
      border-top-left-radius: 60%;
      border-bottom-left-radius: 60%;
    }
    &_right {
      border-top-right-radius: 60%;
      border-bottom-right-radius: 60%;
    }
  }
}
</style>
