<template>
  <Layout>
    <ListingLayout>
      <ListingItem v-for="(item, i) of items" :key="item.id" :item="item" :index="i" />
    </ListingLayout>
  </Layout>
</template>

<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'
import ListingLayout from '@layouts/listing'
import { mapState } from 'vuex'
import ListingItem from '@components/ListingItem'

export default {
  page: {
    title: 'Home',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, ListingLayout, ListingItem },
  computed: {
    ...mapState({
      items: (state) => state.store.items,
    }),
  },
}
</script>
