<template>
  <svg
    viewBox="0 0 187 231"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>Logo</title>
    <path
      d="M167.873,18.507001 C155.939,6.57300103 140.069,1.0260062e-06 123.192,1.0260062e-06 C106.313,-0.00299897399 90.4450005,6.57300103 78.5080005,18.509001 C69.1810005,27.837001 63.1260005,39.569001 60.9280005,52.312001 C60.7050005,53.599001 60.5220005,54.894001 60.3830005,56.200001 C60.2410005,57.482001 60.1400005,58.777001 60.0780005,60.077001 C60.0260005,61.110001 60.0010005,62.149001 60.0010005,63.191001 L60.0040005,71.781001 L60.0040005,75.648001 L60.0010005,79.516001 L59.9990005,126.382001 L106.869,126.379001 L114.601,126.379001 C114.667,125.326001 114.699,124.263001 114.702,123.192001 L114.702,114.701001 L110.844,114.698001 L71.6810005,114.698001 L71.6840005,79.394001 L71.6840005,71.683001 L71.6810005,63.191001 C71.6840005,62.119001 71.7170005,61.056001 71.7820005,60.004001 C71.8610005,58.703001 71.9890005,57.419001 72.1670005,56.146001 C72.3440005,54.840001 72.5730005,53.552001 72.8510005,52.287001 C74.9720005,42.450001 79.9180005,33.655001 86.7860005,26.787001 C96.1130005,17.460001 108.99,11.682001 123.192,11.680001 C151.594,11.683001 174.7,34.789001 174.703,63.191001 C174.7,77.393001 168.923,90.270001 159.596,99.597001 C152.728,106.465001 143.932,111.410001 134.095,113.532001 L134.095,114.600001 L134.092,123.192001 C134.092,123.949001 134.082,124.707001 134.06,125.454001 C146.803,123.257001 158.543,117.204001 167.873,107.874001 C179.81,95.938001 186.383,80.067001 186.383,63.191001 C186.383,46.314001 179.81,30.443001 167.873,18.507001"
      fill="#f08c00"
    ></path>
    <path
      d="M71.6840005,71.683001 L79.3950005,71.683001 L114.699,71.681001 L114.702,106.991001 L114.702,123.192001 C114.699,124.263001 114.667,125.326001 114.601,126.379001 C114.522,127.679001 114.397,128.966001 114.217,130.237001 C114.042,131.540001 113.816,132.824001 113.538,134.089001 C111.411,143.926001 106.465,152.727001 99.5980005,159.595001 C90.2710005,168.922001 77.3930005,174.699001 63.1910005,174.702001 C34.7900005,174.699001 11.6830005,151.593001 11.6800005,123.192001 C11.6830005,108.989001 17.4600005,96.113001 26.7880005,86.785001 C33.6560005,79.917001 42.4540005,74.974001 52.2910005,72.848001 L52.2910005,63.191001 C52.2910005,62.427001 52.3020005,61.669001 52.3260005,60.925001 C39.5830005,63.117001 27.8430005,69.175001 18.5100005,78.508001 C6.57400046,90.444001 -0.00199954393,106.312001 4.56069927e-07,123.192001 C4.56069927e-07,140.069001 6.57400046,155.939001 18.5070005,167.873001 C30.4440005,179.809001 46.3140005,186.383001 63.1910005,186.383001 C80.0680005,186.383001 95.9390005,179.809001 107.875,167.873001 C119.072,156.675001 125.551,142.012001 126.306,126.305001 C126.33,125.800001 126.35,125.297001 126.363,124.792001 C126.369,124.519001 126.374,124.247001 126.377,123.971001 C126.379,123.712001 126.382,123.453001 126.382,123.192001 L126.379,123.189001 L126.379,114.601001 L126.382,59.998001 L79.5120005,60.001001 L75.6480005,60.003001 L71.7820005,60.004001 C71.7170005,61.056001 71.6840005,62.119001 71.6810005,63.191001 L71.6840005,71.683001"
      fill="white"
    ></path>
  </svg>
</template>
